[submodule "or-utils"]
    path = or-utils
    url = git@gitlab.kuleuven.be:u0056096/or-utils.git

[submodule "branch-and-bound"]
    path = branch-and-bound
    url = git@gitlab.kuleuven.be:u0056096/branch-and-bound.git

[submodule "decision-diagrams"]
	path = decision-diagrams
	url = git@gitlab.kuleuven.be:u0056096/DecisionDiagramsModernCpp.git
